In [9]:
import numpy as np 
import matplotlib as plt
import pandas as pd
import sklearn
import time
%matplotlib inline

In [10]:
f = open('data6.1.txt', 'r')
data = np.array([])
for s in f:
    data = np.append(data, 
                     float(s))
f.close()
print data.shape
lamb = data[0]
data = data[1:]
t0 = 1
t = 60

(16,)

# $\lambda - первая\ строчка\ файла,\\ остальное - t_{i} $
# $ t_{0} = 1;\\ t = 60;\\ lambda=0.362;\\ t_{i}: $

In [11]:
datapd = pd.DataFrame(data)
datapd.columns = ['time']
datapd

      time
0    3.367
1   10.144
2   13.410
3   14.602
4   22.952
5   23.522
6   28.854
7   40.808
8   41.484
9   43.059
10  43.787
11  44.818
12  45.857
13  52.092
14  56.937

### $  N_{t}-N_{s} \ \sim \ Pois(\lambda \cdot (t-s))   $
### $ E(N_{t}-N_{s})\ =\ \lambda \cdot (t-s) $
### $ N_{t}-N_{s}\ независима\ с\ N_{s} \rightarrow\\ E(N_{t}-N_{s}|N_{s}) = E(N_{t}-N_{s}) $
### $ E(N_{t}|N_{s}) = E(N_{t}-N_{s}|N_{s}) + E(N_{s}|N_{s})\\ = \lambda \cdot (t-s)\ +\ N_{s} $

In [12]:
Ns = []
for s in np.arange(t0, t+2):
    Ns.append(
        len(datapd[datapd['time'] <= s])
    )

In [14]:
print 't', 'E(N_t|N_s)'

for s, ns in enumerate(Ns):
    print s, 'sec: ', lamb * (t - s) + ns, 'servers'
    time.sleep(1)

t E(N_t|N_s)
0 sec:  21.72 servers
1 sec:  21.358 servers
2 sec:  20.996 servers
3 sec:  21.634 servers
4 sec:  21.272 servers
5 sec:  20.91 servers
6 sec:  20.548 servers
7 sec:  20.186 servers
8 sec:  19.824 servers
9 sec:  19.462 servers
10 sec:  20.1 servers
11 sec:  19.738 servers
12 sec:  19.376 servers
13 sec:  20.014 servers
14 sec:  20.652 servers
15 sec:  20.29 servers
16 sec:  19.928 servers
17 sec:  19.566 servers
18 sec:  19.204 servers
19 sec:  18.842 servers
20 sec:  18.48 servers
21 sec:  18.118 servers
22 sec:  18.756 servers
23 sec:  19.394 servers
24 sec:  19.032 servers
25 sec:  18.67 servers
26 sec:  18.308 servers
27 sec:  17.946 servers
28 sec:  18.584 servers
29 sec:  18.222 servers
30 sec:  17.86 servers
31 sec:  17.498 servers
32 sec:  17.136 servers
33 sec:  16.774 servers
34 sec:  16.412 servers
35 sec:  16.05 servers
36 sec:  15.688 servers
37 sec:  15.326 servers
38 sec:  14.964 servers
39 sec:  14.602 servers
40 sec:  15.24 servers
41 sec:  15.878 servers
42 sec:  15.516 servers
43 sec:  17.154 servers
44 sec:  17.792 servers
45 sec:  18.43 servers
46 sec:  18.068 servers
47 sec:  17.706 servers
48 sec:  17.344 servers
49 sec:  16.982 servers
50 sec:  16.62 servers
51 sec:  16.258 servers
52 sec:  16.896 servers
53 sec:  16.534 servers
54 sec:  16.172 servers
55 sec:  15.81 servers
56 sec:  16.448 servers
57 sec:  16.086 servers
58 sec:  15.724 servers
59 sec:  15.362 servers
60 sec:  15.0 servers